
 
    <div class="slds-modal__container">
      <div class="slds-modal__content" id="welcome-mat-94-content">
        <div class="slds-welcome-mat">
          <div class="slds-welcome-mat__content slds-grid">
            <div class="slds-welcome-mat__info slds-size_1-of-2">
              <div class="slds-welcome-mat__info-content">
                <h2 class="slds-welcome-mat__info-title" id="welcome-mat-94-label">The Lightning Experience is here!</h2>
                <div class="slds-welcome-mat__info-description slds-text-longform">
                  <p>Welcome to Lightning Experience, the modern, beautiful user experience from Salesforce. With a
                    sales-and service-centric mindset, we focused on reinventing the desktop environment to better
                    support your business processes.</p>
                </div>
              </div>
            </div>
            <ul class="slds-welcome-mat__tiles slds-size_1-of-2">
              <li class="slds-welcome-mat__tile">
                <a href="javascript:void(0);" class="slds-box slds-box_link slds-media" [routerLink]="'/accounts'">
                  <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                    <div class="slds-welcome-mat__tile-figure">
                      <div class="slds-welcome-mat__tile-icon-container">
                        <span class="slds-icon_container slds-icon-utility-animal_and_nature">
                          <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#animal_and_nature"></use>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-welcome-mat__tile-body">
                      <h3 class="slds-welcome-mat__tile-title">Gestion des Comptes</h3>
                      <p class="slds-welcome-mat__tile-description">Lorem ipsum dolor sit amet, lorem ipsum dolor sit
                        amet.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slds-welcome-mat__tile">
                <a href="javascript:void(0);" class="slds-box slds-box_link slds-media">
                  <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                    <div class="slds-welcome-mat__tile-figure">
                      <div class="slds-welcome-mat__tile-icon-container">
                        <span class="slds-icon_container slds-icon-utility-call">
                          <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#call"></use>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-welcome-mat__tile-body">
                      <h3 class="slds-welcome-mat__tile-title">Gestion des contrats</h3>
                      <p class="slds-welcome-mat__tile-description">Lorem ipsum dolor sit amet, lorem ipsum dolor sit
                        amet.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slds-welcome-mat__tile">
                <a href="javascript:void(0);" class="slds-box slds-box_link slds-media" [routerLink]="'/users'">
                  <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                    <div class="slds-welcome-mat__tile-figure">
                      <div class="slds-welcome-mat__tile-icon-container">
                        <span class="slds-icon_container slds-icon-utility-upload">
                          <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-welcome-mat__tile-body">
                      <h3 class="slds-welcome-mat__tile-title">Gestion des utilisateur</h3>
                      <p class="slds-welcome-mat__tile-description">Tap into case history or share notes with fellow
                        agents—it all happens on the utility bar.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="slds-welcome-mat__tile">
                <a href="javascript:void(0);" class="slds-box slds-box_link slds-media" [routerLink]="'/roles'">
                  <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                    <div class="slds-welcome-mat__tile-figure">
                      <div class="slds-welcome-mat__tile-icon-container">
                        <span class="slds-icon_container slds-icon-utility-magicwand">
                          <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="slds-media__body">
                    <div class="slds-welcome-mat__tile-body">
                      <h3 class="slds-welcome-mat__tile-title">Gestion des roles</h3>
                      <p class="slds-welcome-mat__tile-description">Tailor your cases to your team&#x27;s workflow with
                        custom list views.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  