<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-account" title="account">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
          </svg>
          <span class="slds-assistive-text">Liste des Utilisteurs</span>
        </span>
      </div>
      <div class="slds-media__body">
        <h2 class="slds-card__header-title slds-card__header-link slds-truncate">Utilisateurs ({{numberOfUsers}})</h2>
      </div>
      <div class="slds-no-flex">
        <button class="slds-button slds-button_neutral" routerLink="/users/new">Ajouter</button>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <table ngl-datatable [data]="users" trackByKey="id" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
      class="slds-max-medium-table--stacked-horizontal">
      <ngl-datatable-column heading="ID" key="id" sortable></ngl-datatable-column>
      <ngl-datatable-column heading="Email" key="email" cellClass="slds-truncate" sortable></ngl-datatable-column>
      <ngl-datatable-column heading="Actions">
        <ng-template nglDatatableCell let-row="row" let-index="index">
          <span nglDropdown [(open)]="open[index]">
            <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
              nglDropdownTrigger>
              <ngl-icon icon="down" type="default" size="x-small"></ngl-icon>
            </button>
            <div class="slds-dropdown slds-dropdown--left">
              <ul class="dropdown__list" role="menu">
                <li class="slds-dropdown__item">
                  <a role="menuitem" nglDropdownItem (click)="onEditUser(row.id)">
                    <p class="slds-truncate">Editer</p>
                  </a>
                </li>
                <li class="slds-dropdown__item">
                  <a role="menuitem" nglDropdownItem (click)="onDeleteUserAction(row.id)">
                    <p class="slds-truncate">Supprimer</p>
                  </a>
                </li>
              </ul>
            </div>
          </span>
        </ng-template>
      </ngl-datatable-column>

      <!-- Loading overlay -->
      <ng-template nglLoadingOverlay>
        <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
      </ng-template>

      <!-- No rows overlay -->
      <ng-template nglNoRowsOverlay>No data available in table!</ng-template>
    </table>
  </div>
  <footer class="slds-card__footer"></footer>
</article>
<app-modal-window 
  [open]="openDeleteUserConfirm" 
  [title]="'Suppression Utilisateur'" 
  [text]="'Êtes vous sur de vouloir supprimer définitivement ce utilisateur?'"
  [submitButtonText]="'Supprimer'" 
  (cancel)="onDeleteCancel()" 
  (confirm)="onDeleteUser()">
</app-modal-window>