<article class="slds-card">
  <div class="slds-grid slds-einstein-header slds-card__header">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-grid slds-grid_vertical-align-center slds-size_3-of-4 slds-medium-size_2-of-3">
        <div class="slds-media__body">
          <h2 class="slds-truncate" title="Einstein (10+)">
            <a href="javascript:void(0);" class="slds-card__header-link" title="Einstein (10+)">
              <span class="slds-text-heading_small">CLAP</span>
            </a>
          </h2>
        </div>
      </div>
      <div class="slds-einstein-header__figure slds-size_1-of-4 slds-medium-size_1-of-3"></div>
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <h1>Connexion utilisateur</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="slds-form-element slds-col slds-size_3-of-12">
        <label class="slds-form-element__label" for="text-input-id-1">Email</label>
        <div class="slds-form-element__control">
          <input id="login-input" placeholder="put your email here" class="slds-input" formControlName="email" name="email"
            type="text" value="" />
        </div>
      </div>
      <div class="slds-form-element slds-col slds-size_3-of-12">
        <label class="slds-form-element__label" for="text-input-id-1">Password</label>
        <div class="slds-form-element__control">
          <input id="password-input" placeholder="put your password here" class="slds-input" formControlName="password"
            name="password" type="password" value="" />
        </div>
      </div>
      <button href="javascript:void(0)" class="slds-button slds-button_brand" [disabled]="!loginForm.valid">Connexion</button>
    </form>
  </div>
  <footer class="slds-card__footer">
  </footer>
</article>